table {
    border-spacing: 0px;
    border-collapse: collapse;
}
td,th,caption {
    border: 1px solid black;
    padding: 5px;
}
caption {
    border-bottom: none;
    font-weight: 800;
}
.red {
    color: red;
}