.fieldset {
    border: 0;
}
.input {
    display: block;
    width: 200px;
    margin: 5px 0px;
}
.textarea {
    display: block;
    resize: vertical;
    max-height: 200px;
    min-height: 30px;
    width: 200px;
    margin: 5px 0px;
}
.button {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0px 0px 5px 10px;
}
.checkbox {
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

.form {
    border: 1px black solid;
    width: 300px;
    max-height: 700px;
}
.legend {
    font-weight: 700;
    padding: 10px;
}
